*{
    box-sizing: border-box;
}
body{
    width: 500px;
    margin: 10px auto;
    padding: 10px;
    background-color: #5a5858;
    color: #ebeaea;
}
.game-rules{
    text-align: center;
}
.guess-container{
    border: 1px solid rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding: 5px;
    background-color: #212121;
    color:#ebeaea;
}
#guess{
    font-size: 50px;
    display: block;
}
.guessField{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}
.guessField::placeholder{
    color: #808080;
    font-weight: bold;
}
.submitButton{
    margin-top: 10px;
    width: 100%;
    background-color: #000;
    color: #ebeaea;
    font-size: 20px;
    padding: 5px 0;
    border-radius: 5px;
    cursor: pointer;
    border: 2px solid #dadada;

}

.guesses{
    background-color: #5a5858;
    color: #ebeaea;
    padding: 7px;
}

