*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    padding: 10px;
    margin-top: 50px;
}

h1{
    text-align: center;
    color: brown;
    margin-bottom: 30px;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
input[type="text"]{
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
}

label{
    display: inline-block;
    font-size: 20px;
    margin-bottom: 10px;
}
.result{
    text-align: center;
    font-size: 40px;
    margin: 20px 0;
}
.btn{
    /* width: 100%; */
    padding: 6px 30px;
    font-size: 20px;
    background-color: black;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.weight-guide{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

@media screen and (max-width:340px ){
    input[type="text"]{
        width: 100%;
    }
    .btn{
        width: 100%;
    }
}